@import "../variables.scss";

.page-layout {
    &__header {
        padding: 10px 20px;
        background-color: $tertiary;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
