.upload-verification {
    &__icon-container {
        text-align: center;
    }
    &__icon {
        width: 90px;
    }
    &__content {
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 26px;
        }
        &-list {
            display: flex;
            flex-direction: column;
            padding-top: 19px;
        }
    }
    &__list-item {
        padding-bottom: 15px;
        .icon {
            margin-right: 5px;
        }
    }
    &__footer {
        &-upload {
            max-width: 150px;
            margin: 25px auto 0 !important;
            .icon {
                margin-right: 5px;
                width: 15px;
            }
        }
        .primarySmall {
            text-align: center;
            padding-top: 12px;
        }
    }
    &__btn-subtxt {
        display: flex;
        justify-content: center;
    }
}
