$primary: #457a76;
$secondary: #f9ac66;
$tertiary: #ed6b5b;
$text: #000000;
$link: #0ba4e0;
$bgColor: #fef7f1;
$tableColor: #fcdfc4;
$checkboxColor: #fac08a;
$cardColor: #fbc99b;
$senderChat: #cccccc;
$receiverChat: #4c908a;
