.reg-form__heading {
    text-align: center;
    color: #165954;
    font-size: 3vw;
    padding-top: 40px;
}

.reg-form__textfield {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 40px auto 50px;
    > div {
        margin: 20px;
    }
}

.alignthings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-form__registerbutton {
    margin-top: 30px;
    width: 100px;
}
