.register {
    display: flex;
}

.register-child {
    width: 50%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}
.text {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
