@import "../../styles/variables.scss";

.request-form {
    &__form {
        &-submit {
            max-width: 200px;
            margin: 20px auto 0;
        }
    }
    &__input-field {
        width: 100%;
        margin: 5px 10px;
        input {
            background-color: white !important;
        }
        .MuiFormHelperText-root.Mui-error {
            background-color: $tableColor !important;
            margin: 0;
            padding: 3px 14px 0;
        }
    }
    &__datepicker {
        background-color: white !important;
        margin-top: 15px !important;
        .MuiFormHelperText-root.Mui-error {
            background-color: $tableColor !important;
            margin: 0;
            padding: 3px 14px 0;
        }
    }
}

.route-request {
    max-width: 600px;
    margin: 50px auto 0;
    .custom-check-box {
        margin-top: 30px;
    }
    &__form-header {
        display: flex;
        justify-content: center;
    }
    &__form-container {
        padding: 30px;
        background-color: #fcdfc4;
    }
    .request-form {
        margin-top: 20px;
    }
}
