.title {
    text-align: center;
    color: #165954;
    font-size: 3vw;
    padding-top: 40px;
}

.alignitems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginbutton {
    margin-top: 20px;
    width: 100px;
    margin-bottom: 20px;
}
.textinput {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 40px auto 50px;
    > div {
        margin: 20px;
    }
}
.text{
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}
.error {
    color: red;
  }


