.resettextinput {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 40px auto 50px;
    > div {
        margin: 20px;
    }
}
.resetbutton {
    margin-top: 20px;
    width: 100px;
    margin-bottom: 20px;
}
.resetalignitems {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resettitle {
    text-align: center;
    color: #165954;
    font-size: 2vw;
    padding-top: 10px;
}
.input-error {
    border-color: #fc8181;
}
.error {
    color: red;
  }