@import "../../styles/variables.scss";

.request-list {
    margin: 40px auto;
    max-width: 500px;
    &__nearby-drop-container {
        display: flex;
        align-items: center;
        .btn-primary {
            flex: 1;
            max-width: 90px;
            padding: 10px 8px;
        }
    }
    &__nearby-drop {
        margin-right: 10px !important;
        background-color: white;
        flex: 2;
    }
    &__list {
        margin-top: 40px;
    }
}

.request-card {
    background-color: $cardColor;
    margin: 10px 0;
    display: flex;
    padding: 20px;
    border-radius: 6px;
    &__message-icon {
        width: 30px;
    }
    &__details {
        display: flex;
        flex-direction: column;
    }
    &__user {
        flex: 1;
    }
    &__details {
        flex: 5;
    }
    &__message {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.empty-request {
    background-color: $cardColor;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.11);
    text-align: center;
    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    &__btn {
        max-width: 200px;
        margin: 20px auto;
        padding: 10px 17px;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
}
